
<div class="{{counter.click ? 'card text-light bg-dark mb-3' : 'card text-dark bg-light mb-3'}}">
  <div class="card-body">
    <img *ngIf="message == '🔥🔥🔥 SUPER DUPER COUNTER !!!! 🔥🔥🔥🔥🔥';" class="card-img-top duper" src="..\\..\\assets\\images\\1200px-Big_Chain_Chomp_SMO.png" alt="Card image cap">
    <img *ngIf="message == '🔥🔥🔥 SUPER COUNTER !!!! 🔥🔥🔥🔥🔥';" class="card-img-top" src="..\\..\\assets\\images\\profile-mk-bowser.7bf2a8f2.aead314d58b63e27.png" alt="Card image cap">
    <img *ngIf="message == 'This is a Normal Counter';" class="card-img-top" src="..\\..\\assets\\images\\imagess.jpg" alt="Card image cap">
    <div style="padding-top: 10px;"></div>
    <h5 class="card-title">{{message}}</h5>

    <div *ngIf="counter.click; else startBlock" style="display: flex;">
      <button class="btn btn-danger decrease" [disabled]="counter.value <= (-1 + counter.iterator)" (click) ="decreaseValue()">Decrease</button>
      <div class="p-3">{{counter.value}}</div>
      <button class="btn btn-success increase" (click) = "increaseValue()">Increase</button>
    </div>

    <ng-template #startBlock class="timerCounter">
      <div style="display: flex;">
        <!--Make timer class have a bigger button-->
        <button [disabled]="counter.started" (click) = "counter.start()" class="btn btn-success timer" id='start'>Start</button>
        <div class="p-3">{{counter.value}}</div>
      </div>
    </ng-template>
  </div>
</div>
