<div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <img *ngIf="message == '🔥🔥🔥 SUPER COUNTER !!!! 🔥🔥🔥🔥🔥';" class="card-img-top" src="..\\..\\assets\\images\\profile-mk-bowser.7bf2a8f2.aead314d58b63e27.png" alt="Card image cap">
    <img *ngIf="message == 'This is a Normal Counter';" class="card-img-top" src="..\\..\\assets\\images\\imagess.jpg" alt="Card image cap">
    <div style="padding-top: 10px;"></div>
    <h5 class="card-title">{{message}}</h5>
    <div style="display: flex;">
      <button class="btn btn-danger decrease" [disabled]="counter.value <= (-1 + counter.iterator)" (click) ="decreaseValue()">Decrease</button>
      <div class="p-3">{{counter.value}}</div>
      <button class="btn btn-success increase" (click) = "increaseValue()">Increase</button>
    </div>  
  </div>
</div>
