<h1>{{title}}</h1>

<app-counter-details *ngFor="let counter of counters" [counter] = "counter"> </app-counter-details>
<app-counter-details *ngFor="let counter of superCounters" [counter] = "counter"></app-counter-details>

<!-- <app-counter-details *ngFor="let counter of counters" [counter] = "counters"></app-counter-details> -->

<button (click)="addCounter()">Create</button>
<!-- 
<div *ngIf="findLengthOfCounter()"></div>

<app-super-counter *ngFor="let counter of superCounters"></app-super-counter> -->
